# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
ThinkGlobalSofia/ThinkGlobalSofia.Android/obj/
ThinkGlobalSofia/ThinkGlobalSofia.Android/bin/
*.user
ThinkGlobalSofia/ThinkGlobalSofia.iOS/obj/
ThinkGlobalSofia/ThinkGlobalSofia.iOS/bin/
ThinkGlobalSofia/ThinkGlobalSofia/obj/
ThinkGlobalSofia/ThinkGlobalSofia/bin/
/.vs/
